body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


.dropdown-content{
    position: fixed;
    z-index: 1;
    min-width: 10%;
    display: none;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    margin-top: 0.5rem;
    max-height: 50vh;
    border: 2px solid black;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    opacity: 0;
}

.dropdown-contentLog{
    position: fixed;
    right:0;
    z-index: 1;
    min-width: 10%;
    display: none;
    flex-direction: column;
    align-items: left;
    padding: 1rem;
    margin-top: 0.5rem;
    max-height: 40vh;
    border: 2px solid black;
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    opacity: 0;
}

.input-content1{
    min-width: 10%;
    display: block;
    align-items: left;
    text-align: left;
}

.submitButton{
    color:black;
    font-weight: bold;
    background-color: #fdb515;
    border-radius: 4px;
    border: 2px solid #636466;
    font-size: 14px;
}


.content-open{
    opacity: 1;
    display: flex;
}